.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.swiftpm
.sourcekit-lsp/
scripts/

# Claude
.specs/
.docs/
.claude/skills/implement-spec-phase

# Editor
.zed/
.compile
buildServer.json
.vscode/
